@use "./scss/" as *;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    font-size: 100%;

    @include tablet {
        font-size: 80%;
    }

    @include mobile {
        font-size: 60%;
    }
}

body {
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.5;
    background-color: $body-bg;
    color: $txt-color;

    @include mobile {
        margin-bottom: 3rem;
    }
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style: none;
}

@media (hover: hover) {
    a:hover {
        color: $main-color;
    }
}

button,
input {
    outline: none;
}

img {
    max-width: 100%;
}

iframe {
    border: 0;
}

.container {
    max-width: 1240px;
    margin: auto;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.section {
    padding: 0 2rem;
}

.section__header {
    @include flex(center, space-between);
}

.btns > * ~ * {
    margin-left: 1rem;
}

.text-typing {
	white-space: nowrap;
	overflow: hidden;
	animation: typing 10s steps(10) infinite, blink 1s infinite;
	text-shadow: 0 0 100px $logo-color;

    @keyframes typing {
        0%,
        100% {
            width: 0%;
        }

        20%, 50%, 70%,
        90% {
            width: 100%;
        }
    }
    
    @keyframes blink {
        0%,
        100% {
            border-right: 10px solid transparent;
        }
        50% {
            border-right: 10px solid $main-color;
        }
    }
}


