$body-bg: #0f0f0f;
$main-color: #ff0000;
$txt-color: #fff;
$logo-color: #96ee1c;

$black: #000000;
$white: #fff;

$box-shadow: rgba(100, 100, 111, .2) 0 7px 29px 0;

$header-height: 5rem;
$header-shrink-height: 4rem;
$border-radius: 20px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
$font-size-mobile: 1.8rem !important;